/* Dark Theme with silver lettering and yellow button to resemble JavaScript theme */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
background-color: black;
color: silver;
line-height: 1;
min-height: 100%;
font-family: 'Poppins', sans-serif;
}

p {
    padding: 5px;
    margin: 5px;
}

.header {
    margin: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.main-section {
    margin: 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-button, #highscore-button {
    background-color:rgb(255, 204, 0);
    width: 20%;
    padding:10px 30px ;
}


.start-section {
    margin: 15px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.quiz-section {
    margin: 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    display: none;
}

.choices-section {
    margin: 15px;
    justify-content: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}